<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Ubuntu-Bold.ttf</string>
		<string>Ubuntu-Light.ttf</string>
		<string>Ubuntu-Italic.ttf</string>
	</array>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Your precise location is used to calculate turn-by-turn directions, show your location on the map, and help improve the map.</string>
	<key>NSLocationTemporaryUsageDescriptionDictionary</key>
	<dict>
		<key>CustomKey</key>
		<string>We temporarily require your precise location for an optimal experience.</string>
	</dict>
</dict>
</plist>
